<h4>Profile</h4>
<hr />
<div class="user">
    <div class="user-avatar" choose-file>
        <input file-input id="file" ng-model="photo" type="file" hidden>
        <img style="height: 45px; width: 45px;" id="photo" ng-src="{{'data:image/png;base64,'+ photos}}">
    </div>
    <div class="user-detail">
        <div class="user-name">{{profile.playerName}}</div>
    </div>
    <div class="user-action">
        <button class="btn btn-info" ng-click="playVsComputer()">Lawan Computer</button>
    </div>
</div>
<hr />

<h4>Players Online</h4>
<hr />
<div ng-repeat="player in playerService.players ">
    <useronline player="player"></useronline>
</div>