<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand">Game Othello</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" ui-sref="player-home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <aturan></aturan>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a class="nav-link" ui-sref="game-profile"> {{profile.playerName}}</a>
                </span>
                <span>
                    <a class="nav-link" href="" ng-click="logoff()">Log Out</a>
                </span>
            </div>
        </div>
    </nav>
</header>
<div class="container" style=" height: 85vh !important;">
    <ui-view></ui-view>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - MainWebGame - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>



<style>
    header {
        width: 100%;
        color: black;
        background: white;
    }
</style>