<div id="desk">
    <div class="score-main" id="score">
        <div class="score-item">
            <div id="side1" class="cbox">
                <span>0</span>
                <div class="black"></div>

            </div>
            <label>{{side1}}</label>
        </div>
        <div class="score-item">
            <div class="text-center">
                <h1 id="time">60</h1>
                <h6 class="text-center">Waktu</h6>
            </div>
        </div>
        <div class="score-item">
            <div id="side2" class="cbox">
                <span>0</span>
                <div class="white"></div>
            </div>
            <label>{{side2}}</label>
        </div>
    </div>
    <div style="--aspect-ratio:1/1;">
        <div id="chessboard"></div>
    </div>
    <div class="bottom-menu">
        <button id="play" ng-click="resign()" class="button">Menyerah</button>
        <!--div id="back" class="button">Retract</div-->
        <button id="2d3d" class="button">3D</button>
        <button id="ai" ng-disabled="!myPlay" class="button" ng-click="AiPlay()">AI</button>
        <!--div-- id="explain" class="button">About</!--div-->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="vsCompOption" class="modal-body" style="background-color: rgb(63, 102, 102);">

                <h5>Main Pertama</h5>
                <input type="radio" ng-model="model.pion" value="1" name="side"><span>Pemain</span>
                <input type="radio" ng-model="model.pion" value="-1" name="side"><span>Computer</span><br />

                <h5>Tingkat Kesulitan</h5>
                <input type="radio" ng-model="model.level" value="1" name="level"><span>Mudah</span><br />
                <input type="radio" ng-model="model.level" value="2" name="level"
                    checked="checked"><span>Sedang</span><br />
                <input type="radio" ng-model="model.level" value="3" name="level"><span>Sulit</span><br />
                <input type="radio" ng-model="model.level" value="4" name="level"><span>Sangat Sulit</span><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancel()">Batal</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="start(model)">Main</button>
            </div>
        </div>
    </div>
</div>