<div>
    <div id="desk">
        <div class="score-main" id="score">
            <div class="score-item">
                <div id="side1" class="cbox">
                    <span>0</span>
                    <div class="black"></div>

                </div>
                <label id="playerSide1">{{side1}}</label>
            </div>
            <div class="score-item">
                <div class="text-center">
                    <h1 hidden id="time">60</h1>
                </div>
            </div>
            <div class="score-item">
                <div id="side2" class="cbox">
                    <span>0</span>
                    <div class="white"></div>
                </div>
                <label id="playerSide2">{{side2}}</label>
            </div>
        </div>
        <div style="display:flex; flex-direction: column">
            <div id="chessboard">
                <table class="boardtable" id="idTable"></table>

            </div>
            <div class="bottom-menu" style="margin: 5px;">
                <button id="play" ng-click="resign()" class="btn btn-danger">Menyerah</button>
                <!--div id="back" class="button">Retract</div-->
                <button id="2d3d" class="btn btn-primary">3D</button>
                <button id="ai" ng-disabled="!mePlay" class="btn btn-warning" ng-click="AiPlay()">Solusi</button>
                <button id="btnHistory" class="btn btn-info" data-toggle="modal" data-target="#history"
                    ng-click="showHistory()">History</button>
                <!--div-- id="explain" class="button">About</!--div-->
            </div>
        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="vsCompOption" class="modal-body" style="background-color: rgb(63, 102, 102);">
                <h5>Main Pertama</h5>
                <div style="margin-left:30px">
                    <input type="radio" ng-model="model.pion" value="1" name="side"><span>Pemain</span>
                </div>
                <div style="margin-left:30px">
                    <input type="radio" ng-model="model.pion" value="-1" name="side"><span>Computer</span><br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancel()">Batal</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="start(model)">Main</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade modalHistory" id="history" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div id="historyMain" style="max-height: 90vh; overflow: scroll;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keluar</button>
            </div>
        </div>
    </div>
</div>



<style>
    #ai:disabled {
        background-color: rgb(190, 188, 188);
    }

    .btn {
        margin: 2px;
    }
</style>