<div id="desk">
    <div class="score-main" id="score">
        <div class="score-item">
            <div id="side1" class="cbox">
                <span>0</span>
                <div class="black"></div>
            </div>
            <label id="playerSide1">{{side1}}</label>
        </div>
        <div class="score-item">
            <div class="text-center">
                <h1 id="time">60</h1>
                <h6 class="text-center">Waktu</h6>
            </div>
        </div>
        <div class="score-item">
            <div id="side2" class="cbox">
                <span>0</span>
                <div class="white"></div>
            </div>
            <label id="playerSide2">{{side2}}</label>
        </div>
    </div>
    <div style="display:flex; flex-direction: column">
        <div id="chessboard">
            <table class="boardtable" id="idTable"></table>

        </div>
        <div class="bottom-menu" style="margin: 5px;">
            <button id="play" ng-click="resign()" class="btn btn-danger">Menyerah</button>
            <!--div id="back" class="button">Retract</div-->
            <button id="2d3d" class="btn btn-primary">3D</button>
            <button id="ai" ng-disabled="!mePlay" class="btn btn-warning" ng-click="AiPlay()">Solusi</button>
            <button id="btnHistory" class="btn btn-info" data-toggle="modal" data-target="#history"
                ng-click="showHistory()">History</button>
            <!--div-- id="explain" class="button">About</!--div-->
        </div>
    </div>
</div>


<div id="selectbox">
    <label><input type="radio" name="side" checked="checked"><span>Player first</span></label>
    <label><input type="radio" name="side"><span>AI first</span></label><br />
    <label><input type="radio" name="level"><span>Easy</span></label><br />
    <label><input type="radio" name="level" checked="checked"><span>Medium</span></label><br />
    <label><input type="radio" name="level"><span>Hard</span></label><br />
    <label><input type="radio" name="level"><span>Very Hard</span></label><br />
    <div id="buttons">
        <div id="ok" class="button">OK</div>
        <div id="cancel" class="button">Cancel</div>
    </div>
</div>



<div class="modal fade modalHistory" id="history" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div id="historyMain" style="max-height: 90vh; overflow: scroll;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keluar</button>
            </div>
        </div>
    </div>
</div>



<style>
    #ai:disabled {
        background-color: rgb(190, 188, 188);
    }

    .btn {
        margin: 2px;
    }
</style>