body {
  background-color: #302e43;
  color: white !important;
}

#desk {
  top: 5px;
  margin: auto;
  position: relative;
  width: 80%;
  height: 100%;
}

#chessboard {
  position: absolute;
  background: rgba(76, 224, 8, 0.76);
  height: 77%;
  width: 100%;
}

#chessboard table {
  position: relative;
  height: 100%;
  width: 100%;
}

#chessboard table tbody tr {
  height: calc(100% / 8);
  background-color: yellowgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

#chessboard table tbody tr td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%/8;
  width: calc(100% / 8);
  border: 0.3px #111111 solid;
  background: #068704;
  -webkit-box-shadow: inset 20px 20px 60px #057303, inset -20px -20px 60px #079b05;
          box-shadow: inset 20px 20px 60px #057303, inset -20px -20px 60px #079b05;
}

#chessboard table tbody tr td .node {
  width: 50%;
  height: 50%;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  background: #068704;
  -webkit-box-shadow: -6px 6px 12px #068704, 6px -6px 12px #068704;
          box-shadow: -6px 6px 12px #068704, 6px -6px 12px #068704;
}

#vsCompOption span {
  margin-left: 5px;
}

.score-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid 1px #2cd6ec;
}

.score-main .score-item {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.score-main .score-item label {
  width: auto;
  text-align: center;
}

.score-main .score-item .cbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid transparent;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.score-main .score-item .cbox span {
  float: right;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 3px grey;
  margin: 3px;
}

.score-main .score-item .cbox .black,
.score-main .score-item .cbox .white {
  width: 30px;
  height: 30px;
  margin-left: 2px;
  margin-right: 2px;
}

.prompt {
  width: 14px;
  height: 14px;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #ff0;
  border-radius: 50%;
}

.bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.side {
  border: 3px solid #ccecf0;
  background: #2cd6ec;
  margin: 5px;
}

#side1 .black,
#side1 .white,
#side2 .black,
#side2 .white {
  min-width: 20px;
  min-height: 20px;
}

#time {
  font-size: 25px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #302e43;
  border-bottom: 0.1px #383648 solid;
}

.user .user-avatar img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user .user-avatar .online-status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.user .user-detail {
  width: 100%;
  color: white;
}

.user .user-detail .user-name {
  font-size: 15px;
}

.user .user-detail .user-win,
.user .user-detail .user-lost {
  font-size: 10px;
  color: #afafaf;
}

.user .user-action {
  width: auto;
  position: relative;
}

.bg-online {
  background-color: #48c72f;
}

.bg-offline {
  background-color: #9b9b9b;
}

.user:hover {
  background-color: #454356;
}

@media only screen and (max-width: 600px) {
  #desk {
    top: 5px;
    width: 100%;
  }
  .cbox {
    float: left;
  }
  .button {
    float: left;
    margin-left: 40px;
  }
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    min-height: 350px;
  }
  .bottom-menu {
    margin-top: 25px;
  }
  .score-main .score-item .cbox span {
    float: right;
    font-size: 15;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 3px grey;
    margin: 3px;
  }
}

.modalHistory {
  min-height: 90%;
}

.blackHistory {
  background: #65d127;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.whiteHistory {
  background: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.blackHistory,
.whiteHistory {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  display: block;
  margin: auto;
  vertical-align: middle;
  -webkit-box-shadow: 0px 4px 10px #482915;
          box-shadow: 0px 4px 10px #482915;
}

#historyMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 90%;
}

.historyTable {
  width: 100%;
  height: 100%;
}

.historyTable td,
.table th {
  padding: 0.15rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.historyBoard {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 400px;
  margin: 10px;
}

.historyBoard table {
  height: 100%;
}

.historyBoard table tbody tr {
  height: calc(100% / 8);
  background-color: yellowgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.historyBoard table tbody tr td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: calc(100% / 8);
  border: 0.1px #2cd6ec solid;
  background: #ffffff;
  -webkit-box-shadow: inset 9px 9px 18px #b3b3b3, inset -9px -9px 18px #ffffff;
          box-shadow: inset 9px 9px 18px #b3b3b3, inset -9px -9px 18px #ffffff;
}

.historyBoard table tbody tr td .node {
  width: 80%;
  height: 80%;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  background: #595959;
  -webkit-box-shadow: -6px 6px 12px #dfdfdf, 6px -6px 12px #949393;
          box-shadow: -6px 6px 12px #dfdfdf, 6px -6px 12px #949393;
}

#Awal,
#Akhir {
  margin: 10px;
  color: black;
  text-align: center;
}
/*# sourceMappingURL=board.css.map */