/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.account-panel {
    width: 100%;
    align-items: center;
    height: 90vh;
    .account-main {
        margin-top: 50%;
        width: 300px;
        position: relative;
        margin: auto;
        #account {
            width: 300px;
            margin-top: 50%;
            margin-bottom: 50%;
        }
    }
}

.main {
    height: 80vh;
    width: 100%;
    display: flex;
    background-color: burlywood;
}

.leftSide {
    padding-top: 15px;
    width: 250px;
    background-color: saddlebrown;
    color: white;
    li {
        list-style-type: none;
        margin-top: 10px;
        a {
            text-decoration: none;
            color: whitesmoke;
        }
    }
}

.mainSide {
    padding: 15px;
    width: 80%;
    background-color: whitesmoke;
    color: black;
}

.admin-peraturan {
    table {
        margin-top: 20px;
    }
}
