<div class="user" style="margin-top:8px">
    <div class="user-avatar">
        <div class="online-status"
            ng-class="{'bg-online': $ctrl.player.isOnline, 'bg-offline': !$ctrl.player.isOnline}"></div>
        <img style="height: 45px; width: 45px;" id="photo" ng-src="{{$ctrl.player.photo}}">

    </div>
    <div class="user-detail">
        <div class="user-name">{{$ctrl.player.playerName}}</div>
    </div>
    <div class="user-action">
        <button class="btn btn-warning" ng-show="!$ctrl.player.playing" ng-click="play()">{{Title}}</button>
        <label ng-show="$ctrl.player.playing">Sedang Bermain</label>
    </div>
</div>