<div class="account-main">
    <h4>Login</h4>
    <hr />
    <form ng-submit="login(model)">
        <div class="form-group">
            <label>User Name/ Email</label>
            <input class="form-control" ng-model="model.username">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="model.password">
        </div>
        <div class="form-group">
            <label> </label>
            <button class="btn btn-success pull-right" type="submit">Login</button>

        </div>
        <div>
            <label>Belum Punya Akun ? <a ui-sref="register">Register</a></label>
        </div>
    </form>
</div>