@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center" style="margin-top: 30px;">
        <h1 class="display-4">Welcome, </h1>
        <h1>GAME OTTHELO</h1>
        <a style="width:250px; padding:20px; font-size:30px; margin-top:50px" class="btn btn-success text-center" href="/Game">Mulai</a>
    </div>
